<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.intermedia.hq">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.intermedia.hq.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.intermedia.hq.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.intermedia.HQApplication" android:roundIcon="@mipmap/ic_launcher_round" android:screenOrientation="portrait" android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_hq_status_icon"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <service android:exported="false" android:name="com.onecode.s3.service.S3UploadService"/>
        <service android:enabled="true" android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/facebook_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.intermedia.EntryActivity" android:noHistory="true" android:screenOrientation="portrait" android:theme="@style/HQThemeBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="com.intermedia.push.HQFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.intermedia.push.HQFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:label="@string/Leaderboard" android:name="com.intermedia.LeaderboardActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.intermedia.MainActivity"/>
        </activity>
        <activity android:label="@string/app_name" android:name="com.intermedia.login.LoginActivity" android:screenOrientation="portrait" android:theme="@style/HQThemeBase"/>
        <activity android:exported="true" android:label="@string/app_name" android:name="com.intermedia.MainActivity" android:screenOrientation="portrait" android:theme="@style/HQThemeBase"/>
        <activity android:label="@string/Your_profile" android:name="com.intermedia.login.RegisterUserActivity" android:parentActivityName="com.intermedia.MainActivity" android:screenOrientation="portrait" android:theme="@style/HQThemeBase" android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.intermedia.MainActivity"/>
        </activity>
        <activity android:exported="true" android:label="@string/about" android:name="com.intermedia.AboutActivity" android:parentActivityName="com.intermedia.MainActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.intermedia.MainActivity"/>
        </activity>
        <activity android:label="@string/how_to_play" android:name="com.intermedia.HowToPlayActivity" android:parentActivityName="com.intermedia.AboutActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.intermedia.AboutActivity"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/title_activity_game" android:launchMode="singleTop" android:name="com.intermedia.GameActivity" android:screenOrientation="portrait" android:theme="@style/AppGameTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="@string/Cashout" android:name="com.intermedia.CashoutActivity" android:parentActivityName="com.intermedia.MainActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.intermedia.MainActivity"/>
        </activity>
        <meta-data android:name="io.fabric.ApiKey" android:value="92e9a06e4f5361ab11acfda5c7efa82a5743f29c"/>
        <activity android:name="com.intermedia.profile.AddReferralCodeActivity" android:theme="@style/HQThemeBase" android:windowSoftInputMode="stateVisible"/>
        <activity android:label="@string/Log_in_or_sign_up" android:name="com.intermedia.login.PhoneVerificationActivity" android:parentActivityName="com.intermedia.EntryActivity" android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:label="@string/action_settings" android:name="com.intermedia.SettingsActivity" android:parentActivityName="com.intermedia.MainActivity" android:theme="@style/HQThemeBase"/>
        <provider android:authorities="com.intermedia.hq.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:exported="false" android:label="" android:name="com.firebase.ui.auth.KickoffActivity" android:theme="@style/FirebaseUI.Transparent"/>
        <activity android:exported="false" android:label="@string/fui_title_recover_password_activity" android:name="com.firebase.ui.auth.ui.email.RecoverPasswordActivity"/>
        <activity android:exported="false" android:label="@string/fui_sign_in_default" android:name="com.firebase.ui.auth.ui.email.EmailActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:label="@string/fui_sign_in_with_phone_number" android:name="com.firebase.ui.auth.ui.phone.PhoneActivity" android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>
        <activity android:exported="false" android:label="@string/fui_title_welcome_back_idp_prompt" android:name="com.firebase.ui.auth.ui.idp.WelcomeBackIdpPrompt"/>
        <activity android:exported="false" android:label="@string/fui_title_welcome_back_password_prompt" android:name="com.firebase.ui.auth.ui.email.WelcomeBackPasswordPrompt" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:label="@string/fui_default_toolbar_title" android:name="com.firebase.ui.auth.ui.idp.AuthMethodPickerActivity"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.intermedia.hq"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleInstance" android:name="com.google.firebase.auth.internal.FederatedSignInActivity" android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.intermedia.hq.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.intermedia.hq.crashlyticsinitprovider" android:exported="false" android:initOrder="100" android:name="com.crashlytics.android.CrashlyticsInitProvider"/>
        <receiver android:name="com.instacart.library.truetime.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.intermedia.hq.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <provider android:authorities="com.intermedia.hq.lifecycle-trojan" android:exported="false" android:multiprocess="true" android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>